* {
  font-size: 28px;
  margin: 0px;
}

body {
  height: 100vh;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 20px;
  cursor: pointer;
  user-select: none;
}
